.Explore-container {
	max-width: 80%;
	margin: auto;
	color: white;
	// color: #a18077;

	h1 {
		font-size: 72px;
		font-weight: 700;
		font-family: "Arizonia", cursive;
	}
}

.Explore-button-aisle {
	max-width: 100%;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	// font-family: "Raleway", sans-serif;

	button {
		cursor: pointer;
		font-size: 20px;
		padding: 7.5px 12.5px;
		outline: none;
		background-color: $dark-blue;
		color: white;
		border-radius: 10px;
		font-family: "Alegreya", "serif";
	}

	#Explore-button-unselected {
		animation: Explore-unselect-button 0.3s ease forwards;
	}

	#Explore-button-selected {
		animation: Explore-select-button 0.3s ease forwards;
	}

	.Explore-checkboxes {
		width: 240px;
		position: absolute;
		display: flex;
		justify-content: space-between;
		top: 17.5vh;
		right: 24px;

		.Explore-checkbox {
			width: 24px;
			height: 24px;
			border-radius: 5px;
			cursor: pointer;
			background-color: rgba(255, 255, 255, 0.7);
			box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.45);
			display: inline-block;
			position: relative;

			.Explore-checkmark {
				position: absolute;
				top: 60%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: white;
			}
		}

		#Explore-software,
		#Explore-theoretical-cs,
		#Explore-math,
		#Explore-software-clicked,
		#Explore-theoretical-cs-clicked,
		#Explore-math-clicked {
			position: relative;
		}

		#Explore-software::after,
		#Explore-theoretical-cs::after,
		#Explore-math::after,
		#Explore-software-clicked::after,
		#Explore-theoretical-cs-clicked::after,
		#Explore-math-clicked::after {
			text-align: center;
			position: absolute;
			top: 120%;
			left: 50%;
			transform: translateX(-50%);
		}

		#Explore-software::after,
		#Explore-software-clicked::after {
			content: "Software";
		}

		#Explore-theoretical-cs::after,
		#Explore-theoretical-cs-clicked::after {
			content: "Theoretical CS";
		}

		#Explore-math::after,
		#Explore-math-clicked::after {
			content: "Math";
		}
	}
}

#Explore-software {
	animation: software-unclick 0.5s ease forwards;
}

#Explore-software-clicked {
	animation: software-click 0.5s ease forwards;
}

#Explore-theoretical-cs {
	animation: theoretical-cs-unclick 0.5s ease forwards;
}

#Explore-theoretical-cs-clicked {
	animation: theoretical-cs-click 0.5s ease forwards;
}

#Explore-math {
	animation: math-unclick 0.5s ease forwards;
}

#Explore-math-clicked {
	animation: math-click 0.5s ease forwards;
}

#Explore-software,
#Explore-theoretical-cs,
#Explore-math {
	.Explore-checkmark {
		animation: checkmark-uncheck 0.5s ease forwards;
	}
}

#Explore-software-clicked,
#Explore-theoretical-cs-clicked,
#Explore-math-clicked {
	.Explore-checkmark {
		animation: checkmark-check 0.5s ease forwards;
	}
}

.Explore-slider-container {
	margin: 5vh auto;
	display: flex;
	justify-content: center;
	width: 50%;

	.Explore-slider-header {
		position: absolute;
		top: -32px;
		font-size: 20px;
	}

	.Explore-slider-slight {
		position: absolute;
		top: 20px;
		left: 25%;
		transform: translate(-50%);
	}

	.Explore-slider-moderate {
		position: absolute;
		top: 20px;
		left: 50%;
		transform: translate(-50%);
	}

	.Explore-slider-comfortable {
		position: absolute;
		top: 20px;
		left: 75%;
		transform: translate(-50%);
	}

	.Explore-slider-body {
		width: 100%;
		opacity: 0.7;
		position: relative;

		&:hover {
			opacity: 1;
		}

		.Explore-input-fill {
			min-width: 0;
			height: 8px;
			border-radius: 4px;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(calc(-50% + 1px));
			background: $dark-blue;
		}
	}

	input {
		-webkit-appearance: none;
		width: 100%;
		height: 8px;
		border-radius: 4px;
		outline: none;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: $dark-blue;
			cursor: pointer;
			outline: none;
			box-shadow: 0 0 0 0 rgba(0, 3, 80, 0.1);
			transition: 0.3s ease-in-out;

			&:hover {
				box-shadow: 0 0 0 18px rgba(0, 3, 80, 0.1);
			}
		}

		&:active::-webkit-slider-thumb {
			box-shadow: 0 0 0 18px rgba(0, 3, 80, 0.3);
		}

		&::-moz-range-thumb {
			width: 24px;
			height: 24px;
			background: $dark-blue;
			cursor: pointer;
		}

		&::-ms-fill-lower {
			background: $dark-blue;
		}
	}
}

.Explore-tooltip {
	width: 300px;
	height: 200px;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
	position: absolute;
	z-index: 4;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	opacity: 0;
	overflow-y: auto;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		display: none;
	}

	animation: tooltip-appear-anim 0.5s ease;
	animation-fill-mode: forwards;
}

.Explore-tooltip-close {
	position: absolute;
	top: -5px;
	right: 10px;
	font-size: 32px;
	transform: rotate(45deg);
	cursor: pointer;
	z-index: 5;
}

.Explore-tooltip-content {
	opacity: 0;
	animation: tooltip-content-appear-anim 0.3s ease 0.3s forwards;

	.Explore-tooltip-content-description {
		font-size: 12px;
		font-family: "Source Sans Pro", sans-serif;
	}
}

.Explore-tooltip-tail {
	border-top: 15px solid white;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	width: 1px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

#explore {
	position: relative;
	display: flex;
	justify-content: center;

	.circle {
		cursor: pointer;
	}

	.label {
		cursor: pointer;
		font-family: "Alegreya Sans SC", sans-serif;
	}
}

@keyframes tooltip-appear-anim {
	from {
		height: 0;
		width: 0;
		opacity: 0;
	}
	to {
		height: 200px;
		width: 300px;
		opacity: 1;
	}
}

@keyframes tooltip-content-appear-anim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes software-unclick {
	from {
		background-color: rgba(146, 180, 244, 1);
	}
	to {
		background-color: rgba(255, 255, 255, 0.2);
	}
}

@keyframes software-click {
	from {
		background-color: rgba(255, 255, 255, 0.2);
	}
	to {
		background-color: rgba(146, 180, 244, 1);
	}
}

@keyframes theoretical-cs-unclick {
	from {
		background-color: rgba(175, 105, 239, 1);
	}
	to {
		background-color: rgba(255, 255, 255, 0.2);
	}
}

@keyframes theoretical-cs-click {
	from {
		background-color: rgba(255, 255, 255, 0.2);
	}
	to {
		background-color: rgba(175, 105, 239, 1);
	}
}

@keyframes math-unclick {
	from {
		background-color: rgba(246, 189, 209, 1);
	}
	to {
		background-color: rgba(255, 255, 255, 0.2);
	}
}

@keyframes math-click {
	from {
		background-color: rgba(255, 255, 255, 0.2);
	}
	to {
		background-color: rgba(246, 189, 209, 1);
	}
}

@keyframes Explore-select-button {
	from {
		border: solid thin $dark-blue;
		box-shadow: none;
	}
	to {
		border: solid thin white;
		box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.45);
	}
}

@keyframes Explore-unselect-button {
	from {
		border: solid thin white;
		box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.45);
	}
	to {
		border: solid thin $dark-blue;
		box-shadow: none;
	}
}

@keyframes checkmark-check {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes checkmark-uncheck {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@media only screen and (max-width: 1000px) {
	.Explore-button-aisle {
		button {
			display: none;
		}

		.Explore-checkboxes {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.Explore-slider-container {
		width: 100%;

		.Explore-slider-slight,
		.Explore-slider-moderate,
		.Explore-slider-comfortable {
			font-size: 12px;
		}
	}

	#explore {
		margin-top: 15vh;
	}
}
