.Explore-container {
	max-width: 80%;
	margin: auto;
	color: white;

	h1 {
		font-size: 72px;
		font-weight: 700;
		font-family: "Arizonia", cursive;
	}
}

.Explore-button-aisle {
	max-width: 80%;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;

	button {
		cursor: pointer;
		font-size: 20px;
		font-family: "Alegreya", "serif";
		padding: 5px 10px;
		outline: none;
		background-color: $dark-blue;
		color: white;
		border-radius: 10px;
		border: solid thin white;
	}
}

#explore {
	display: flex;
	justify-content: center;

	.circle {
		cursor: pointer;
	}

	.label {
		cursor: pointer;
	}
}
