.Home-bio-info {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	font-family: "Raleway", sans-serif;
}

.Home-bio-image {
	width: 240px;
	height: 240px;
	position: relative;

	.Home-bio-image-text {
		text-align: center;
		width: 100%;
		font-size: 20px;
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		visibility: hidden;
		opacity: 0;
		transition: 0.5s;
	}

	img {
		width: 240px;
		height: 240px;
		border-radius: 30%;
		border: solid white;
		object-fit: cover;
		transition: 0.5s;
	}

	&:hover {
		img {
			border: solid $aqua;
			// filter: grayscale(100%);
		}

		// .Home-bio-image-text {
		// 	opacity: 1;
		// 	visibility: visible;
		// }
	}
}

.Home-bio-description {
	// border-radius: 16px;
	padding: 16px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	margin: 24px 0 24px 24px;
	font-size: 20px;
	max-width: 60%;

	p {
		font-size: 20px;
	}

	ul {
		margin: 12px 0 0 24px;

		li .first-word {
			font-size: 24px;
			text-transform: uppercase;
			color: #a18077;
		}
	}
}
