.HomeProjects-container {
	max-width: 80%;
	margin: auto;
	color: white;

	h1 {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		font-size: 72px;
		font-weight: 700;
		font-family: "Arizonia", cursive;
	}
}

.Project-container {
	img {
		width: 60%;
		height: 36%;
		object-fit: scale;
		border-radius: 10px;
	}
}
