.Home-intro {
	padding-top: 24px;
	width: 100%;
	height: 100%;
	// transform: translateY(5vh);
	margin: auto;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	color: white;
	// background-image: linear-gradient($purpureus, $dark-blue);

	p {
		width: 100%;
		font-size: 20px;
		text-align: center;
		opacity: 0;
		animation: HomeIntro-fadein-anim 1s ease 5s forwards;
	}
}

.Home-intro-name {
	width: 75%;
	position: relative;
	opacity: 0;
	animation: HomeIntro-fadein-anim 1s ease 5.2s forwards;

	h1 {
		font-size: 96px;
		text-align: center;
		color: $aqua;
		font-weight: 700;
		font-family: "Arizonia", cursive;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 17.5%;
		height: 3px;
		background: $aqua;
		top: 50%;
		transform: translateY(-50%);
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}
}

.Home-intro-descriptor {
	width: 100%;
	font-size: 20px;
	text-align: center;
	margin-top: 24px;
	opacity: 0;
	animation: HomeIntro-fadein-anim 1s ease 5.5s forwards;
}

@keyframes HomeIntro-fadein-anim {
	from {
		transform: translateY(50%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes HomeIntro-slidein-right-anim {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes HomeIntro-slidein-left-anim {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
