.st0 {
	fill: none;
	stroke: #00ffff;
	stroke-width: 12;
	stroke-miterlimit: 10;
	stroke-linecap: round;
	stroke-dasharray: 913.3px;
	stroke-dashoffset: 913.3px;
}

.st1 {
	fill: transparent;
	// fill: #c7b299;
}

.st2 {
	fill: transparent;
	// fill: #00ffff;
}

.st3 {
	fill: url(#SVGID_1_);
	stroke: #00ffff;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke-linecap: round;
	stroke-dasharray: 283.11px;
	stroke-dashoffset: 283.11px;
}

.st4 {
	fill: url(#SVGID_2_);
	stroke: #00ffff;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke-linecap: round;
	stroke-dasharray: 431.34px;
	stroke-dashoffset: 431.34px;
}

.st5 {
	fill: none;
	stroke: #c7b299;
	stroke-width: 9;
	stroke-miterlimit: 10;
	stroke-linecap: round;
	stroke-dasharray: 137px;
	stroke-dashoffset: 137px;
}

#logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#logo line {
	stroke-linecap: round;
}
