.LogoLoading-container {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 10;
	background: linear-gradient($purpureus, $dark-blue);
	// background-color: $dark-blue;
	animation: LogoLoading-bg-disappear-anim 1s ease 4.5s;
	animation-fill-mode: forwards;
}

.LogoLoading-st0 {
	fill: none;
	stroke: #00ffff;
	stroke-width: 12;
	stroke-miterlimit: 10;
	stroke-linecap: round;
	stroke-dasharray: 913.3px;
	stroke-dashoffset: 913.3px;
	animation: LogoLoading-drawin-anim 1s ease forwards;
}

.LogoLoading-st1 {
	fill: transparent;
	// fill: #c7b299;
}

#LogoLoading-J {
	animation: LogoLoading-firstname-anim 0.5s ease forwards 2.5s;
}

#LogoLoading-E1 {
	animation: LogoLoading-firstname-anim 0.5s ease forwards 2.65s;
}

#LogoLoading-S1 {
	animation: LogoLoading-firstname-anim 0.5s ease forwards 2.8s;
}

#LogoLoading-S2 {
	animation: LogoLoading-firstname-anim 0.5s ease forwards 2.95s;
}

#LogoLoading-E2 {
	animation: LogoLoading-firstname-anim 0.5s ease forwards 3.1s;
}

.LogoLoading-st2 {
	fill: transparent;
	// fill: #00ffff;
}

#LogoLoading-Y {
	animation: LogoLoading-lastname-anim 0.5s ease forwards 3.25s;
}

#LogoLoading-A {
	animation: LogoLoading-lastname-anim 0.5s ease forwards 3.4s;
}

#LogoLoading-N {
	animation: LogoLoading-lastname-anim 0.5s ease forwards 3.55s;
}

#LogoLoading-G {
	animation: LogoLoading-lastname-anim 0.5s ease forwards 3.7s;
}

.LogoLoading-st3 {
	fill: url(#LogoLoading-SVGID_1_);
	fill-opacity: 0;
	stroke: #00ffff;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke-linecap: round;
	stroke-dasharray: 283.11px;
	stroke-dashoffset: 283.11px;
	animation: LogoLoading-drawin-anim 0.5s ease forwards 1.7s,
		LogoLoading-fillin-anim 0.5s ease forwards 1.7s;
}

.LogoLoading-st4 {
	fill: url(#LogoLoading-SVGID_2_);
	fill-opacity: 0;
	stroke: #00ffff;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke-linecap: round;
	stroke-dasharray: 431.34px;
	stroke-dashoffset: 431.34px;
	animation: LogoLoading-drawin-anim 0.5s ease forwards 1.7s,
		LogoLoading-fillin-anim 0.5s ease forwards 1.7s;
}

.LogoLoading-st5 {
	fill: none;
	stroke: #c7b299;
	stroke-width: 9;
	stroke-miterlimit: 10;
	stroke-linecap: round;
	stroke-dasharray: 137px;
	stroke-dashoffset: 137px;
	animation: LogoLoading-drawin-anim 0.3s ease forwards 1.2s;
}

#LogoLoading-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 50% 50%;
	animation: LogoLoading-scaleout-anim 1s ease 4.5s;
	animation-fill-mode: forwards;
}

@keyframes LogoLoading-drawin-anim {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes LogoLoading-fillin-anim {
	from {
		fill-opacity: 0;
	}
	to {
		fill-opacity: 1;
	}
}

@keyframes LogoLoading-firstname-anim {
	from {
		fill: transparent;
	}
	to {
		fill: #c7b299;
	}
}

@keyframes LogoLoading-lastname-anim {
	from {
		fill: transparent;
	}
	to {
		fill: #00ffff;
	}
}

@keyframes LogoLoading-scaleout-anim {
	from {
		height: 416.47;
		width: 383.42;
		opacity: 100%;
	}
	to {
		height: 0;
		width: 0;
		opacity: 0%;
	}
}

@keyframes LogoLoading-bg-disappear-anim {
	from {
		// background-color: $dark-blue;
		opacity: 1;
	}
	to {
		// background-color: transparent;
		opacity: 0;
	}
}
