.Logo-st0 {
	fill: none;
	stroke: #00ffff;
	stroke-width: 2;
	stroke-miterlimit: 10;
}
.Logo-st1 {
	fill: url(#Logo-SVGID_1_);
	stroke: #00ffff;
	stroke-width: 1.5;
	stroke-miterlimit: 10;
}
.Logo-st2 {
	fill: url(#Logo-SVGID_2_);
	stroke: #00ffff;
	stroke-width: 1.5;
	stroke-miterlimit: 10;
}
.Logo-st3 {
	fill: none;
	stroke: #c7b299;
	stroke-width: 1.5;
	stroke-miterlimit: 10;
}
.Logo-st4 {
	fill: url(#Logo-SVGID_3_);
	stroke: #00ffff;
	stroke-width: 1.5;
	stroke-miterlimit: 10;
}
