.st0 {
	fill: none;
	stroke: #00ffff;
	stroke-width: 2;
	stroke-miterlimit: 10;
}
.st1 {
	fill: url(#SVGID_1_);
	stroke: #00ffff;
	stroke-width: 1.5;
	stroke-miterlimit: 10;
}
.st2 {
	fill: url(#SVGID_2_);
	stroke: #00ffff;
	stroke-width: 1.5;
	stroke-miterlimit: 10;
}
.st3 {
	fill: none;
	stroke: #c7b299;
	stroke-width: 1.5;
	stroke-miterlimit: 10;
}
.st4 {
	fill: url(#SVGID_3_);
	stroke: #00ffff;
	stroke-width: 1.5;
	stroke-miterlimit: 10;
}
