.Nav-bar {
	height: 80px;
	// border-bottom: solid white;
	width: 100%;
	top: 0;
	position: fixed;
	// background-color: $purpureus;
	// background-color: rgba(155, 72, 155, 0.975);
	z-index: 3;
}

.Nav-totop {
	position: fixed;
	top: 40px;
	right: 32px;
	transform: translateY(-50%);
}

.Nav-active {
	background: linear-gradient(rgba(155, 72, 155, 0.975), rgba(0, 3, 80, 0.975));
}

.Nav-hidden {
	display: none;
	// transform: translateY(-80px);
}

.Nav-logo {
	width: 40%;
	height: 100%;
	display: flex;
	float: left;
	align-items: center;
	a {
		margin-left: 36px;
	}
}

.Nav-links {
	width: 60%;
	height: 100%;
	display: flex;
	float: right;
	list-style: none;
	justify-content: space-around;
	align-items: center;

	li a {
		color: white;
		text-decoration: none;
		font-family: "Alegreya", "serif";
		font-size: 20px;
		transition: 0.5s;

		&:hover {
			color: $aqua;
			// transform: translateY(-8px);
		}
	}
}
