.Nav-bar {
	height: 80px;
	// border-bottom: solid white;
	top: 0;
	position: sticky;
	// background-color: $purpureus;
	// background-color: rgba(155, 72, 155, 0.95);
	z-index: 3;
}

.Nav-logo {
	width: 40%;
	height: 100%;
	display: flex;
	float: left;
	align-items: center;
	a {
		margin-left: 36px;
	}
}

.Nav-links {
	width: 60%;
	height: 100%;
	display: flex;
	float: right;
	list-style: none;
	justify-content: space-around;
	align-items: center;

	li a {
		color: white;
		text-decoration: none;
		font-family: "Alegreya", "serif";
		font-size: 20px;
		transition: 0.5s;

		&:hover {
			color: $aqua;
			// transform: translateY(-8px);
		}
	}
}
