.Nav-bar {
	height: 64px;
	border-bottom: solid white;
	display: flex;
}

.Nav-logo {
	width: 50%;
	display: flex;
	align-items: center;

	a {
		margin-left: 36px;
	}
}

.Nav-links {
	width: 50%;
	height: 100%;
	display: flex;
	list-style: none;
	justify-content: space-around;
	align-items: center;

	li a {
		color: white;
		text-decoration: none;
		font-size: 16px;
	}
}
