.SingleNotes-container {
	width: 60%;
	margin: 10vh auto 0;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 20px;
	opacity: 0.8;
	transition: 0.3s ease;

	&:hover {
		opacity: 1;
	}

	h2 {
		font-family: "Alegreya Sans SC", sans-serif;
		color: $dark-blue;
	}
	p {
		font-family: "Source Sans Pro", sans-serif;
		color: $light-purple;
		margin: 10px auto;
	}

	.SingleNotes-source {
		display: flex;
		justify-content: flex-end;
		color: $dark-blue;
	}

	.SingleNotes-footer {
		display: flex;
		align-items: center;
		color: $dark-blue;
	}

	a {
		margin-left: 8px;
		color: inherit;
		text-decoration: none;
	}

	.SingleNotes-download {
		cursor: pointer;
	}
}

@media only screen and (max-width: 1000px) {
	.SingleNotes-container {
		width: 80%;
	}
}
