.SocialLinks-links {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	// color: transparent;

	a {
		text-decoration: none;
		color: #fff;
		margin: 12px;
		transition: 0.5s ease;

		&:hover {
			transform: translateY(-8px);
			color: $pink;
		}
	}
}
