.Home-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Home-intro {
	padding-top: 24px;
	width: 60%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	color: white;

	p {
		width: 100%;
		font-size: 16px;
		text-align: center;
	}
}

.Home-intro-info {
	width: 100%;
	position: relative;

	h1 {
		font-size: 72px;
		text-align: center;
		color: $aqua;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 20%;
		height: 3px;
		background: white;
		top: 50%;
		transform: translateY(-50%);
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}
}

.Home-intro-descriptor {
	width: 100%;
	font-size: 16px;
	text-align: center;
	margin-top: 12px;
}

.Home-intro-bio-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.Home-intro-bio-image {
	img {
		width: 240px;
		height: 240px;
		border-radius: 30%;
		border: solid white;
		object-fit: cover;
		transition: 0.5s;

		&:hover {
			border: solid $aqua;
		}
	}
}

.Home-intro-bio-description {
	border-radius: 16px;
	padding: 16px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	margin: 24px 0 24px 24px;
	font-size: 20px;

	p {
		font-size: 20px;
	}

	ul {
		margin: 12px 0 0 24px;

		li .first-word {
			color: $aqua;
		}
	}
}
