.Home-PageContainer {
	animation: Home-page-load ease 5.5s, Home-height-load ease 5.5s;
	animation-fill-mode: forwards;
	background: repeating-linear-gradient(
		$purpureus,
		$dark-blue 800px,
		$dark-blue 800px,
		$purpureus 1600px
	);
}

.Home-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Home-intro-container {
	// background-image: linear-gradient($purpureus, $dark-blue);
	// transform: translateY(-80px);
	height: 100vh;
}

.Home-bio-container {
	width: 100%;
	margin: auto;
	padding-bottom: 15vh;
	color: white;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	// background-image: linear-gradient($dark-blue, $purpureus);
}

.Home-explore-container {
	padding-bottom: 5vh;
}

@keyframes Home-page-load {
	from {
		overflow-y: hidden;
	}
	to {
		overflow-y: auto;
	}
}

@keyframes Home-height-load {
	from {
		height: 100vh;
		overflow: hidden;
	}
	to {
		height: auto;
		overflow: auto;
	}
}
