.Home-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Home-intro {
	padding-top: 24px;
	width: 60%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	color: white;

	p {
		width: 100%;
		font-size: 16px;
		text-align: center;
	}
}

.Home-intro-info {
	width: 100%;
	position: relative;

	h1 {
		font-size: 72px;
		text-align: center;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 20%;
		height: 3px;
		background: white;
		top: 50%;
		transform: translateY(-50%);
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}
}

.Home-intro-links {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	// color: transparent;

	svg {
		margin: 8px;
	}
}
