.Notes-PageContainer {
	min-height: auto;
	background: repeating-linear-gradient(
		$purpureus,
		$dark-blue 100vh,
		$dark-blue 100vh,
		$purpureus 200vh
	);
	padding: 0 0 15vh 0;
}

.Notes-header {
	height: 120px;
}

.Notes-message {
	width: 45%;
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto;
	border-radius: 10px;
	padding: 20px;
	color: white;

	.Notes-message-name {
		display: flex;
		justify-content: flex-end;
		margin-top: 10px;
	}
}
