@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Arizonia&family=Great+Vibes&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap");
.Home-PageContainer {
  -webkit-animation: Home-height-load 16s ease;
          animation: Home-height-load 16s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: repeating-linear-gradient(#9b489b, #000350 100vh, #000350 100vh, #9b489b 200vh);
}

.Home-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home-intro-container {
  height: 100vh;
}

.Home-bio-container {
  width: 100%;
  margin: auto;
  padding-bottom: 15vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Home-explore-container {
  padding-bottom: 5vh;
}

@-webkit-keyframes Home-page-load {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: auto;
  }
}

@keyframes Home-page-load {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: auto;
  }
}

@-webkit-keyframes Home-height-load {
  from {
    height: 100vh;
    overflow-y: hidden;
  }
  to {
    height: auto;
    overflow-y: auto;
  }
}

@keyframes Home-height-load {
  from {
    height: 100vh;
    overflow-y: hidden;
  }
  to {
    height: auto;
    overflow-y: auto;
  }
}

.Notes-PageContainer {
  min-height: auto;
  background: repeating-linear-gradient(#9b489b, #000350 100vh, #000350 100vh, #9b489b 200vh);
  padding: 0 0 15vh 0;
}

.Notes-header {
  height: 120px;
}

.Notes-message {
  width: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto 15vh auto;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.Notes-message .Notes-message-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .Notes-message {
    width: 60%;
  }
}

.Nav-bar {
  height: 80px;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 3;
}

.Nav-totop {
  position: fixed;
  top: 24px;
  right: 32px;
  cursor: pointer;
}

.Nav-totop-hidden {
  display: none;
}

.Nav-active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(155, 72, 155, 0.975)), to(rgba(0, 3, 80, 0.975)));
  background: linear-gradient(rgba(155, 72, 155, 0.975), rgba(0, 3, 80, 0.975));
}

.Nav-hidden {
  display: none;
}

.Nav-logo {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: Nav-slide-in-top 1s ease 4.5s;
          animation: Nav-slide-in-top 1s ease 4.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.Nav-logo a {
  margin-left: 36px;
}

.Nav-links {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav-links li {
  opacity: 0;
}

.Nav-links li:nth-child(1) {
  -webkit-animation: Nav-slide-in-top 1s ease 4.5s forwards;
          animation: Nav-slide-in-top 1s ease 4.5s forwards;
}

.Nav-links li:nth-child(2) {
  -webkit-animation: Nav-slide-in-top 1s ease 4.6s forwards;
          animation: Nav-slide-in-top 1s ease 4.6s forwards;
}

.Nav-links li:nth-child(3) {
  -webkit-animation: Nav-slide-in-top 1s ease 4.7s forwards;
          animation: Nav-slide-in-top 1s ease 4.7s forwards;
}

.Nav-links li:nth-child(4) {
  -webkit-animation: Nav-slide-in-top 1s ease 4.8s forwards;
          animation: Nav-slide-in-top 1s ease 4.8s forwards;
}

.Nav-links li:nth-child(5) {
  -webkit-animation: Nav-slide-in-top 1s ease 4.9s forwards;
          animation: Nav-slide-in-top 1s ease 4.9s forwards;
}

.Nav-links li a {
  color: white;
  text-decoration: none;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Nav-links li a:hover {
  color: #00ffff;
}

@-webkit-keyframes Nav-slide-in-top {
  from {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes Nav-slide-in-top {
  from {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.LogoLoading-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, from(#9b489b), to(#000350));
  background: linear-gradient(#9b489b, #000350);
  -webkit-animation: LogoLoading-bg-disappear-anim 1s ease 4.5s;
          animation: LogoLoading-bg-disappear-anim 1s ease 4.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.LogoLoading-st0 {
  fill: none;
  stroke: #00ffff;
  stroke-width: 12;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-dasharray: 913.3px;
  stroke-dashoffset: 913.3px;
  -webkit-animation: LogoLoading-drawin-anim 1s ease forwards;
          animation: LogoLoading-drawin-anim 1s ease forwards;
}

.LogoLoading-st1 {
  fill: transparent;
}

#LogoLoading-J {
  -webkit-animation: LogoLoading-firstname-anim 0.5s ease forwards 2.5s;
          animation: LogoLoading-firstname-anim 0.5s ease forwards 2.5s;
}

#LogoLoading-E1 {
  -webkit-animation: LogoLoading-firstname-anim 0.5s ease forwards 2.65s;
          animation: LogoLoading-firstname-anim 0.5s ease forwards 2.65s;
}

#LogoLoading-S1 {
  -webkit-animation: LogoLoading-firstname-anim 0.5s ease forwards 2.8s;
          animation: LogoLoading-firstname-anim 0.5s ease forwards 2.8s;
}

#LogoLoading-S2 {
  -webkit-animation: LogoLoading-firstname-anim 0.5s ease forwards 2.95s;
          animation: LogoLoading-firstname-anim 0.5s ease forwards 2.95s;
}

#LogoLoading-E2 {
  -webkit-animation: LogoLoading-firstname-anim 0.5s ease forwards 3.1s;
          animation: LogoLoading-firstname-anim 0.5s ease forwards 3.1s;
}

.LogoLoading-st2 {
  fill: transparent;
}

#LogoLoading-Y {
  -webkit-animation: LogoLoading-lastname-anim 0.5s ease forwards 3.25s;
          animation: LogoLoading-lastname-anim 0.5s ease forwards 3.25s;
}

#LogoLoading-A {
  -webkit-animation: LogoLoading-lastname-anim 0.5s ease forwards 3.4s;
          animation: LogoLoading-lastname-anim 0.5s ease forwards 3.4s;
}

#LogoLoading-N {
  -webkit-animation: LogoLoading-lastname-anim 0.5s ease forwards 3.55s;
          animation: LogoLoading-lastname-anim 0.5s ease forwards 3.55s;
}

#LogoLoading-G {
  -webkit-animation: LogoLoading-lastname-anim 0.5s ease forwards 3.7s;
          animation: LogoLoading-lastname-anim 0.5s ease forwards 3.7s;
}

.LogoLoading-st3 {
  fill: url(#LogoLoading-SVGID_1_);
  fill-opacity: 0;
  stroke: #00ffff;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-dasharray: 283.11px;
  stroke-dashoffset: 283.11px;
  -webkit-animation: LogoLoading-drawin-anim 0.5s ease forwards 1.7s, LogoLoading-fillin-anim 0.5s ease forwards 1.7s;
          animation: LogoLoading-drawin-anim 0.5s ease forwards 1.7s, LogoLoading-fillin-anim 0.5s ease forwards 1.7s;
}

.LogoLoading-st4 {
  fill: url(#LogoLoading-SVGID_2_);
  fill-opacity: 0;
  stroke: #00ffff;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-dasharray: 431.34px;
  stroke-dashoffset: 431.34px;
  -webkit-animation: LogoLoading-drawin-anim 0.5s ease forwards 1.7s, LogoLoading-fillin-anim 0.5s ease forwards 1.7s;
          animation: LogoLoading-drawin-anim 0.5s ease forwards 1.7s, LogoLoading-fillin-anim 0.5s ease forwards 1.7s;
}

.LogoLoading-st5 {
  fill: none;
  stroke: #c7b299;
  stroke-width: 9;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-dasharray: 137px;
  stroke-dashoffset: 137px;
  -webkit-animation: LogoLoading-drawin-anim 0.3s ease forwards 1.2s;
          animation: LogoLoading-drawin-anim 0.3s ease forwards 1.2s;
}

#LogoLoading-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: LogoLoading-scaleout-anim 1s ease 4.5s;
          animation: LogoLoading-scaleout-anim 1s ease 4.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes LogoLoading-drawin-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes LogoLoading-drawin-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes LogoLoading-fillin-anim {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

@keyframes LogoLoading-fillin-anim {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

@-webkit-keyframes LogoLoading-firstname-anim {
  from {
    fill: transparent;
  }
  to {
    fill: #c7b299;
  }
}

@keyframes LogoLoading-firstname-anim {
  from {
    fill: transparent;
  }
  to {
    fill: #c7b299;
  }
}

@-webkit-keyframes LogoLoading-lastname-anim {
  from {
    fill: transparent;
  }
  to {
    fill: #00ffff;
  }
}

@keyframes LogoLoading-lastname-anim {
  from {
    fill: transparent;
  }
  to {
    fill: #00ffff;
  }
}

@-webkit-keyframes LogoLoading-scaleout-anim {
  from {
    height: 416.47;
    width: 383.42;
    opacity: 100%;
  }
  to {
    height: 0;
    width: 0;
    opacity: 0%;
  }
}

@keyframes LogoLoading-scaleout-anim {
  from {
    height: 416.47;
    width: 383.42;
    opacity: 100%;
  }
  to {
    height: 0;
    width: 0;
    opacity: 0%;
  }
}

@-webkit-keyframes LogoLoading-bg-disappear-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes LogoLoading-bg-disappear-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

.Logo-st0 {
  fill: #000350;
  stroke: #00ffff;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.Logo-st1 {
  fill: url(#Logo-SVGID_1_);
  stroke: #00ffff;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.Logo-st2 {
  fill: url(#Logo-SVGID_2_);
  stroke: #00ffff;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.Logo-st3 {
  fill: none;
  stroke: #c7b299;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
  stroke-linecap: round;
}

.Logo-st4 {
  fill: url(#Logo-SVGID_3_);
  stroke: #00ffff;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

#Logo-logo {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: Logo-appear 1s ease 4.5s forwards;
          animation: Logo-appear 1s ease 4.5s forwards;
}

#Logo-logo:hover {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@-webkit-keyframes Logo-appear {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  to {
    width: 38.96px;
    height: 45px;
    opacity: 1;
  }
}

@keyframes Logo-appear {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  to {
    width: 38.96px;
    height: 45px;
    opacity: 1;
  }
}

.SocialLinks-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.SocialLinks-links .SocialLinks-single-link {
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.SocialLinks-links .SocialLinks-single-link:nth-child(1) {
  -webkit-animation: SocialLinks-fadein-anim 1s ease 5.7s forwards;
          animation: SocialLinks-fadein-anim 1s ease 5.7s forwards;
}

.SocialLinks-links .SocialLinks-single-link:nth-child(2) {
  -webkit-animation: SocialLinks-fadein-anim 1s ease 5.85s forwards;
          animation: SocialLinks-fadein-anim 1s ease 5.85s forwards;
}

.SocialLinks-links .SocialLinks-single-link:nth-child(3) {
  -webkit-animation: SocialLinks-fadein-anim 1s ease 6s forwards;
          animation: SocialLinks-fadein-anim 1s ease 6s forwards;
}

.SocialLinks-links .SocialLinks-single-link:nth-child(4) {
  -webkit-animation: SocialLinks-fadein-anim 1s ease 6.15s forwards;
          animation: SocialLinks-fadein-anim 1s ease 6.15s forwards;
}

.SocialLinks-links .SocialLinks-single-link:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.SocialLinks-links .SocialLinks-single-link:hover a {
  color: #f6bdd1;
}

.SocialLinks-links a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@-webkit-keyframes SocialLinks-fadein-anim {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes SocialLinks-fadein-anim {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.Home-intro {
  padding-top: 24px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.Home-intro p {
  width: 100%;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  -webkit-animation: HomeIntro-fadein-anim 1s ease 5s forwards;
          animation: HomeIntro-fadein-anim 1s ease 5s forwards;
}

.Home-intro-name {
  width: 75%;
  position: relative;
}

.Home-intro-name h1 {
  font-size: 96px;
  text-align: center;
  color: #92b4f4;
  font-weight: 700;
  font-family: "Arizonia", cursive;
  opacity: 0;
  -webkit-animation: HomeIntro-fadein-anim 1s ease 5.2s forwards;
          animation: HomeIntro-fadein-anim 1s ease 5.2s forwards;
}

.Home-intro-name::before, .Home-intro-name::after {
  content: "";
  position: absolute;
  height: 3px;
  background: #00ffff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.Home-intro-name::before {
  left: 0;
  opacity: 0;
  -webkit-animation: HomeIntro-slidein-left-anim 1.5s ease 5.2s forwards;
          animation: HomeIntro-slidein-left-anim 1.5s ease 5.2s forwards;
}

.Home-intro-name::after {
  right: 0;
  opacity: 0;
  -webkit-animation: HomeIntro-slidein-right-anim 1.5s ease 5.2s forwards;
          animation: HomeIntro-slidein-right-anim 1.5s ease 5.2s forwards;
}

.Home-intro-descriptor {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 24px;
  opacity: 0;
  -webkit-animation: HomeIntro-fadein-anim 1s ease 5.5s forwards;
          animation: HomeIntro-fadein-anim 1s ease 5.5s forwards;
}

@-webkit-keyframes HomeIntro-fadein-anim {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes HomeIntro-fadein-anim {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes HomeIntro-slidein-right-anim {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes HomeIntro-slidein-right-anim {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes HomeIntro-slidein-left-anim {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes HomeIntro-slidein-left-anim {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.Home-bio-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.Home-bio-image {
  width: 240px;
  height: 240px;
  position: relative;
}

.Home-bio-image .Home-bio-image-text {
  text-align: center;
  width: 100%;
  font-size: 20px;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Home-bio-image img {
  width: 240px;
  height: 240px;
  border-radius: 30%;
  border: solid white;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Home-bio-description {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px 0 24px 24px;
  font-size: 20px;
  max-width: 60%;
}

.Home-bio-description p {
  font-size: 20px;
}

.Home-bio-description ul {
  margin: 12px 0 0 24px;
}

.Home-bio-description ul li .first-word {
  font-size: 24px;
  font-family: "Alegreya Sans SC", sans-serif;
  color: #92b4f4;
}

.Explore-container {
  max-width: 80%;
  margin: auto;
  color: white;
}

.Explore-container h1 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Arizonia", cursive;
}

.Explore-button-aisle {
  max-width: 100%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.Explore-button-aisle button {
  cursor: pointer;
  font-size: 20px;
  padding: 7.5px 12.5px;
  outline: none;
  background-color: #000350;
  color: white;
  border-radius: 10px;
  font-family: "Alegreya", "serif";
}

.Explore-button-aisle #Explore-button-unselected {
  -webkit-animation: Explore-unselect-button 0.3s ease forwards;
          animation: Explore-unselect-button 0.3s ease forwards;
}

.Explore-button-aisle #Explore-button-selected {
  -webkit-animation: Explore-select-button 0.3s ease forwards;
          animation: Explore-select-button 0.3s ease forwards;
}

.Explore-button-aisle .Explore-checkboxes {
  width: 240px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 17.5vh;
  right: 24px;
}

.Explore-button-aisle .Explore-checkboxes .Explore-checkbox {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.45);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.45);
  display: inline-block;
  position: relative;
}

.Explore-button-aisle .Explore-checkboxes .Explore-checkbox .Explore-checkmark {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.Explore-button-aisle .Explore-checkboxes #Explore-software,
.Explore-button-aisle .Explore-checkboxes #Explore-theoretical-cs,
.Explore-button-aisle .Explore-checkboxes #Explore-math,
.Explore-button-aisle .Explore-checkboxes #Explore-software-clicked,
.Explore-button-aisle .Explore-checkboxes #Explore-theoretical-cs-clicked,
.Explore-button-aisle .Explore-checkboxes #Explore-math-clicked {
  position: relative;
}

.Explore-button-aisle .Explore-checkboxes #Explore-software::after,
.Explore-button-aisle .Explore-checkboxes #Explore-theoretical-cs::after,
.Explore-button-aisle .Explore-checkboxes #Explore-math::after,
.Explore-button-aisle .Explore-checkboxes #Explore-software-clicked::after,
.Explore-button-aisle .Explore-checkboxes #Explore-theoretical-cs-clicked::after,
.Explore-button-aisle .Explore-checkboxes #Explore-math-clicked::after {
  text-align: center;
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.Explore-button-aisle .Explore-checkboxes #Explore-software::after,
.Explore-button-aisle .Explore-checkboxes #Explore-software-clicked::after {
  content: "Software";
}

.Explore-button-aisle .Explore-checkboxes #Explore-theoretical-cs::after,
.Explore-button-aisle .Explore-checkboxes #Explore-theoretical-cs-clicked::after {
  content: "Theoretical CS";
}

.Explore-button-aisle .Explore-checkboxes #Explore-math::after,
.Explore-button-aisle .Explore-checkboxes #Explore-math-clicked::after {
  content: "Math";
}

#Explore-software {
  -webkit-animation: software-unclick 0.5s ease forwards;
          animation: software-unclick 0.5s ease forwards;
}

#Explore-software-clicked {
  -webkit-animation: software-click 0.5s ease forwards;
          animation: software-click 0.5s ease forwards;
}

#Explore-theoretical-cs {
  -webkit-animation: theoretical-cs-unclick 0.5s ease forwards;
          animation: theoretical-cs-unclick 0.5s ease forwards;
}

#Explore-theoretical-cs-clicked {
  -webkit-animation: theoretical-cs-click 0.5s ease forwards;
          animation: theoretical-cs-click 0.5s ease forwards;
}

#Explore-math {
  -webkit-animation: math-unclick 0.5s ease forwards;
          animation: math-unclick 0.5s ease forwards;
}

#Explore-math-clicked {
  -webkit-animation: math-click 0.5s ease forwards;
          animation: math-click 0.5s ease forwards;
}

#Explore-software .Explore-checkmark,
#Explore-theoretical-cs .Explore-checkmark,
#Explore-math .Explore-checkmark {
  -webkit-animation: checkmark-uncheck 0.5s ease forwards;
          animation: checkmark-uncheck 0.5s ease forwards;
}

#Explore-software-clicked .Explore-checkmark,
#Explore-theoretical-cs-clicked .Explore-checkmark,
#Explore-math-clicked .Explore-checkmark {
  -webkit-animation: checkmark-check 0.5s ease forwards;
          animation: checkmark-check 0.5s ease forwards;
}

.Explore-slider-container {
  margin: 5vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.Explore-slider-container .Explore-slider-header {
  position: absolute;
  top: -32px;
  font-size: 20px;
}

.Explore-slider-container .Explore-slider-slight {
  position: absolute;
  top: 20px;
  left: 25%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.Explore-slider-container .Explore-slider-moderate {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.Explore-slider-container .Explore-slider-comfortable {
  position: absolute;
  top: 20px;
  left: 75%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.Explore-slider-container .Explore-slider-body {
  width: 100%;
  opacity: 0.7;
  position: relative;
}

.Explore-slider-container .Explore-slider-body:hover {
  opacity: 1;
}

.Explore-slider-container .Explore-slider-body .Explore-input-fill {
  min-width: 0;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(calc(-50% + 1px));
          transform: translateY(calc(-50% + 1px));
  background: #000350;
}

.Explore-slider-container input {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  outline: none;
}

.Explore-slider-container input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #000350;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 3, 80, 0.1);
          box-shadow: 0 0 0 0 rgba(0, 3, 80, 0.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.Explore-slider-container input::-webkit-slider-thumb:hover {
  -webkit-box-shadow: 0 0 0 18px rgba(0, 3, 80, 0.1);
          box-shadow: 0 0 0 18px rgba(0, 3, 80, 0.1);
}

.Explore-slider-container input:active::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 18px rgba(0, 3, 80, 0.3);
          box-shadow: 0 0 0 18px rgba(0, 3, 80, 0.3);
}

.Explore-slider-container input::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #000350;
  cursor: pointer;
}

.Explore-slider-container input::-ms-fill-lower {
  background: #000350;
}

.Explore-tooltip {
  width: 300px;
  height: 200px;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-animation: tooltip-appear-anim 0.5s ease;
          animation: tooltip-appear-anim 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.Explore-tooltip::-webkit-scrollbar {
  display: none;
}

.Explore-tooltip-close {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 32px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  z-index: 5;
}

.Explore-tooltip-content {
  opacity: 0;
  -webkit-animation: tooltip-content-appear-anim 0.3s ease 0.3s forwards;
          animation: tooltip-content-appear-anim 0.3s ease 0.3s forwards;
}

.Explore-tooltip-content .Explore-tooltip-content-description {
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
}

.Explore-tooltip-tail {
  border-top: 15px solid white;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  width: 1px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#explore {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#explore .circle {
  cursor: pointer;
}

#explore .label {
  cursor: pointer;
  font-family: "Alegreya Sans SC", sans-serif;
}

@-webkit-keyframes tooltip-appear-anim {
  from {
    height: 0;
    width: 0;
    opacity: 0%;
  }
  to {
    height: 200;
    width: 300;
    opacity: 100%;
  }
}

@keyframes tooltip-appear-anim {
  from {
    height: 0;
    width: 0;
    opacity: 0%;
  }
  to {
    height: 200;
    width: 300;
    opacity: 100%;
  }
}

@-webkit-keyframes tooltip-content-appear-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes tooltip-content-appear-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes software-unclick {
  from {
    background-color: #92b4f4;
  }
  to {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes software-unclick {
  from {
    background-color: #92b4f4;
  }
  to {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@-webkit-keyframes software-click {
  from {
    background-color: rgba(255, 255, 255, 0.2);
  }
  to {
    background-color: #92b4f4;
  }
}

@keyframes software-click {
  from {
    background-color: rgba(255, 255, 255, 0.2);
  }
  to {
    background-color: #92b4f4;
  }
}

@-webkit-keyframes theoretical-cs-unclick {
  from {
    background-color: #af69ef;
  }
  to {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes theoretical-cs-unclick {
  from {
    background-color: #af69ef;
  }
  to {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@-webkit-keyframes theoretical-cs-click {
  from {
    background-color: rgba(255, 255, 255, 0.2);
  }
  to {
    background-color: #af69ef;
  }
}

@keyframes theoretical-cs-click {
  from {
    background-color: rgba(255, 255, 255, 0.2);
  }
  to {
    background-color: #af69ef;
  }
}

@-webkit-keyframes math-unclick {
  from {
    background-color: #f6bdd1;
  }
  to {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes math-unclick {
  from {
    background-color: #f6bdd1;
  }
  to {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@-webkit-keyframes math-click {
  from {
    background-color: rgba(255, 255, 255, 0.2);
  }
  to {
    background-color: #f6bdd1;
  }
}

@keyframes math-click {
  from {
    background-color: rgba(255, 255, 255, 0.2);
  }
  to {
    background-color: #f6bdd1;
  }
}

@-webkit-keyframes Explore-select-button {
  from {
    border: solid thin #000350;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  to {
    border: solid thin white;
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.45);
            box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.45);
  }
}

@keyframes Explore-select-button {
  from {
    border: solid thin #000350;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  to {
    border: solid thin white;
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.45);
            box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.45);
  }
}

@-webkit-keyframes Explore-unselect-button {
  from {
    border: solid thin white;
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.45);
            box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.45);
  }
  to {
    border: solid thin #000350;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes Explore-unselect-button {
  from {
    border: solid thin white;
    -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.45);
            box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.45);
  }
  to {
    border: solid thin #000350;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@-webkit-keyframes checkmark-check {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes checkmark-check {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes checkmark-uncheck {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes checkmark-uncheck {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .Explore-button-aisle button {
    display: none;
  }
  .Explore-button-aisle .Explore-checkboxes {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .Explore-slider-container {
    width: 100%;
  }
  .Explore-slider-container .Explore-slider-slight,
  .Explore-slider-container .Explore-slider-moderate,
  .Explore-slider-container .Explore-slider-comfortable {
    font-size: 12px;
  }
  #explore {
    margin-top: 15vh;
  }
}

.HomeProjects-container {
  max-width: 80%;
  margin: auto;
  color: white;
}

.HomeProjects-container h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 72px;
  font-weight: 700;
  font-family: "Arizonia", cursive;
}

.Project-container {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 10vh 0;
}

.Project-container img {
  width: 100%;
  height: 60%;
  -o-object-fit: scale;
     object-fit: scale;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.Project-container img:hover {
  -webkit-filter: none;
          filter: none;
}

.Project-container .Project-img-container {
  width: 60%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.Project-container .Project-info-container {
  width: 45%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.Project-container .Project-info-container h2 {
  font-size: 32px;
}

.Project-container .Project-info-container .Project-info-description {
  background-color: #92b4f4;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}

.Project-container .Project-info-container .Project-info-tech {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Project-container .Project-info-container .Project-info-tech p {
  font-weight: 700;
  font-size: 18px;
  color: #f6bdd1;
  display: inline;
  margin: 0 10px;
}

.Project-right {
  right: 0;
  text-align: right;
}

.Project-right h2 {
  padding: 10px 10px 10px 12%;
}

.Project-right .Project-info-tech {
  padding: 10px 10px 10px 12%;
}

.Project-left {
  left: 0;
  text-align: left;
}

.Project-left h2 {
  padding: 10px 12% 10px 10px;
}

.Project-left .Project-info-tech {
  padding: 10px 12% 10px 10px;
}

@media only screen and (max-width: 1000px) {
  .Project-container img {
    opacity: 0.1;
  }
  .Project-container .Project-img-container {
    width: 100%;
  }
  .Project-container .Project-info-container {
    width: 100%;
  }
  .Project-container .Project-info-description {
    color: #92b4f4;
    background-color: transparent !important;
  }
}

.SingleNotes-container {
  width: 60%;
  margin: 10vh auto 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  opacity: 0.75;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.SingleNotes-container:hover {
  opacity: 1;
}

.SingleNotes-container h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  color: #000350;
}

.SingleNotes-container p {
  font-family: "Source Sans Pro", sans-serif;
  color: #af69ef;
  margin: 10px auto;
}

.SingleNotes-container .SingleNotes-source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #000350;
}

.SingleNotes-container .SingleNotes-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000350;
}

.SingleNotes-container a {
  margin-left: 8px;
  color: inherit;
  text-decoration: none;
}

.SingleNotes-container .SingleNotes-download {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .SingleNotes-container {
    width: 80%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
  font-family: "Alegreya", "serif";
}
/*# sourceMappingURL=styles.css.map */